<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Real Time Call Graph - SSPingal </title>
<style type="text/css">
    #div_g {
	    height:50%;
    }
    #div_g2 {
	    height:50%;
    }
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript" src="static/dygraph-combined-dev.js"></script>
<script type="text/javascript" src="static/mqttws31.js" type="text/javascript"></script>

<script type="text/javascript">

/*
	By @sspingal / June 2019
	To time-series plot the VoIP call quality in real-time.
*/

	/* Configurations */
	var MQTTbroker = 'broker.hivemq.com'; //'test.mosquitto.org';
	var MQTTport = 8000; //11883;
	var MQTTsubTopic = '/spingal/test/call'; 

	var chart; // global variable for chart
    	var data = [];
    	var data2 = [];
	var g;
	var g2;
	
	var client = new Paho.MQTT.Client(MQTTbroker, MQTTport,
				"myclientid_" + parseInt(Math.random() * 100, 10));
	client.onMessageArrived = onMessageArrived;
	client.onConnectionLost = onConnectionLost;	

	var options = {
		timeout: 3,
		onSuccess: function () {
			console.log("mqtt connected");
			// Connection succeeded; subscribe to our topics
			client.subscribe(MQTTsubTopic, {qos: 1});
		},
		onFailure: function (message) {
			console.log("Connection failed, ERROR: " + message.errorMessage);
			//window.setTimeout(location.reload(),20000); //wait 20seconds before trying to connect again.
		}
	};

	function onConnectionLost(responseObject) {
		console.log("connection lost: " + responseObject.errorMessage);
		window.setTimeout(location.reload(),20000); //wait 20seconds before trying to connect again.
	};

	function onMessageArrived(message) {

/*
Message format in JSON		
{
  "host": "hostname",
  "ndir1": 4,
  "dir1": [3, 5, 6, 7],
  "ts1" : [11111110, 11111111, 11111112, 1111116],
  "ndir2": 3,
  "dir2": [100, 10, 21],
  "ts2" : [11111110, 11111111, 11111114]
}
*/
		var error = 0;
                console.log(message.destinationName, '',message.payloadString);
                var jsonObj = JSON.parse(message.payloadString);
                console.log("Hostname = ", jsonObj.hn, jsonObj.ndir1, jsonObj.ndir2);

                for(var i = 0; i < jsonObj.ndir1; i++) {
			console.log("data1",i,")", jsonObj.dir1[i]); 
                        var x1 = new Date(jsonObj.ts1[i]);
                        var y1 = jsonObj.dir1[i];
                        console.log(x1, y1);
                        data.push([x1, y1]);
                        g.updateOptions( { 'file': data } );
                }
                for(var i = 0; i < jsonObj.ndir2; i++) {
			console.log("data2(",i,")", jsonObj.dir2[i]); 
                        var x2 = new Date(jsonObj.ts2[i]);
                        var y2 = jsonObj.dir2[i];
                        console.log(x2, y2);
                        data2.push([x2, y2]);
                        g2.updateOptions( { 'file': data2 } );
                }
	};

	function isNumber(n) {
	  return !isNaN(parseFloat(n)) && isFinite(n);
	};

	function init() {
		// Connect to MQTT broker
		client.connect(options);

	};

/* Settings for the chart */
	$(document).ready(function() {
		var t = new Date();
      		//for (var i = 100; i >= 0; i--) {
        	//	var x = new Date(t.getTime() - i * 1000);
        	//	data.push([x, 0]);
     		//}
		
      		g = new Dygraph(document.getElementById("div_g"), data,
			{
				drawPoints: true,
                            	showRoller: false,
			    	drawXAxis: true,
                            	valueRange: [0, 100],
                            	labels: ['Time', 'Score1'],
			    	strokeWidth: 2, //Default Stroke Width
				colors: ["orange"],
				legend: "always",
			   	series: {

			    	}
                          });
      		g2 = new Dygraph(document.getElementById("div_g2"), data2,
			{
				drawPoints: true,
                            	showRoller: false,
			    	drawXAxis: true,
                            	valueRange: [0, 100],
                            	labels: ['Time', 'Score2'],
			    	strokeWidth: 2, //Default Stroke Width
				colors: ["blue"],
				legend: "always",
			   	series: {

			    	}
                          });
    	}
);

</script>
</head>
<body onload="init();"><!--Start the javascript ball rolling and connect to the mqtt broker-->

<div id="div_g" ></div>
<div id="div_g2" ></div>

</body>
</html>
